<div class="register-container card shadow-2 border-round-xl p-6">
  <h2 class="register-title">הרשמה</h2>
  <div class="flex flex-column align-items-center justify-content-center gap-4 py-5">
    <div class="w-full max-w-15rem flex flex-column gap-2">
      <input pInputText id="id" type="text" [(ngModel)]="id" class="w-full custom-input" placeholder="תעודת זהות" />
    </div>
    <div class="w-full max-w-15rem flex flex-column gap-2">
      <input pInputText id="firstName" type="text" [(ngModel)]="firstName" class="w-full custom-input" placeholder="שם פרטי" />
    </div>
    <div class="w-full max-w-15rem flex flex-column gap-2">
      <input pInputText id="lastName" type="text" [(ngModel)]="lastName" class="w-full custom-input" placeholder="שם משפחה" />
    </div>
    <div class="w-full max-w-15rem flex flex-column gap-2">
      <input pInputText id="userName" type="text" [(ngModel)]="userName" class="w-full custom-input" placeholder="שם משתמש" />
    </div>
    <div class="w-full max-w-15rem flex flex-column gap-2">
      <input pInputText id="email" type="email" [(ngModel)]="email" class="w-full custom-input" placeholder="אימייל" />
    </div>
    <div class="w-full max-w-15rem flex flex-column gap-2">
      <input pInputText id="phone" type="text" [(ngModel)]="phone" class="w-full custom-input" placeholder="טלפון" />
    </div>
    <div class="w-full max-w-15rem flex flex-column gap-2">
      <input pInputText id="city" type="text" [(ngModel)]="city" class="w-full custom-input" placeholder="עיר" />
    </div>
    <div class="w-full max-w-15rem flex flex-column gap-2">
      <input pInputText id="street" type="text" [(ngModel)]="street" class="w-full custom-input" placeholder="רחוב" />
    </div>
    <div class="w-full max-w-15rem flex flex-column gap-2">
      <input pInputText id="buildingNumber" type="text" [(ngModel)]="buildingNumber" class="w-full custom-input" placeholder="מספר בית" />
    </div>
    <div class="w-full max-w-15rem flex flex-column gap-2">
      <input pInputText id="password" type="password" [(ngModel)]="password" class="w-full custom-input" placeholder="סיסמה" />
    </div>
    <p-button label="הרשמה" icon="pi pi-user-plus" styleClass="custom-btn signup-btn w-full max-w-15rem" (click)="register()"></p-button>
    <p-button label="יש לך חשבון? התחבר" icon="pi pi-sign-in" styleClass="custom-btn register-btn w-full max-w-15rem mt-2" (click)="goToLogin()"></p-button>
  </div>
</div>