<div class="login-container card shadow-2 border-round-xl p-6">
    <h2 class="login-title">היי, טוב לראות אותך!</h2>
    
    <div class="grid">
        <div class="col-12 md:col-5 flex align-items-center justify-content-center py-5">
            <p-button label="משתמש חדש" 
                      icon="pi pi-user-plus" 
                      styleClass="custom-btn signup-btn w-full max-w-15rem"
                      (click)="signup()">
            </p-button>
        </div>

        <div class="col-12 md:col-2">
            <p-divider layout="vertical" styleClass="hidden md:flex custom-divider"><b>או</b></p-divider>
            <p-divider layout="horizontal" styleClass="flex md:hidden custom-divider" align="center"><b>או</b></p-divider>
        </div>

        <div class="col-12 md:col-5 flex flex-column align-items-center justify-content-center gap-4 py-5">
            <div class="w-full max-w-15rem flex flex-column gap-2">
                <input pInputText id="username" type="text" [(ngModel)]="username" class="w-full custom-input" placeholder="מס' תעודת זהות" />
            </div>
            <div class="w-full max-w-15rem flex flex-column gap-2">
                <input pInputText id="password" type="password" [(ngModel)]="password" class="w-full custom-input" placeholder="סיסמה" />
            </div>
            <p-button label="בואי נתחיל" 
                      icon="pi pi-arrow-left" 
                      styleClass="custom-btn login-btn w-full max-w-15rem"
                      (click)="login()">
            </p-button>
        </div>
    </div>
</div>