<div class="card">
  <p-table
    [value]="products()"
    [tableStyle]="{ 'min-width': '50rem' }"
    [paginator]="true"
    [rows]="5">
    <ng-template pTemplate="header">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Details</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.priceCard }}</td>
        <td>
          <p-button
            icon="pi pi-search"
            rounded
            severity="secondary"
            (onClick)="displayProduct($event, product)">
          </p-button>
        </td>
        <td>
          <button pButton label="הוסף לסל" icon="pi pi-shopping-cart" (click)="addToBasket(product)"></button>
          <button pButton label="רכוש כרטיס" icon="pi pi-ticket" (click)="ticketPurchase(product)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <button pButton label="אשר סל" icon="pi pi-check" (click)="confirmBasket()"></button>
  <button pButton label="הצג מתנות עם זוכים" icon="pi pi-star" (click)="getGiftsWithWinners()"></button>
</div>
