/* במקום @import "tailwindcss"; */
@use "tailwindcss";

/* אם את משתמשת בפלאגינים של Tailwind 4 */
@plugin "tailwindcss-primeui";

/* ייבוא אייקונים */
@import "primeicons/primeicons.css";

/* הגדרות בסיס */
@layer base {
  body {
    margin: 0;
    font-family: var(--p-font-family);
    background-color: var(--p-surface-50);
    direction: rtl;
  }
}